name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Setup .NET 5
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: List Dir
      run: ls src

    - name: Restore
      run: dotnet restore DbViewer.All.sln 
      working-directory: src

    - name: Build
      run: dotnet build --no-restore DbViewer.All.sln
      working-directory: src

    - name: Test
      run: dotnet test --no-build --verbosity normal
